
/* 
    display: table; Añade comportamiento de tabla
*/
.table{
    display: table;
    border: 1px solid black;
}
/* Cabecera de la tabla */
.thead{
    display: table-header-group;
}

/* Fila */
.tr{
    display: table-row;
}

/* Celda */
.td{
    display: table-cell;
}

/* Titulo */
.caption{
    display: table-caption;
}

/* Footer de la tabla */
.tfoot{
    display: table-footer-group;
}
