*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* El focus de un elemento es cuando se esta seleccionado el elemento
    A un input se le da el foco cuando se hace click */

/* Usaremos la pseudoclase :focus */
/* input:focus{
    background-color: red;
} */

/* Este tambien detecta el foco, pero no solo se puede aplicar 
al elemento en sí sino que aplica al contenedor padre. 
Detecta si uno de los hijos del contenedor padre tiene un foco y aplica los estilos al padre
*/

form{
    padding: 1rem;
}

.container{
    position: relative;
}
.container:focus-within label,
input:not(:placeholder-shown) + label{ /*cuando tiene contenido se desaparece el label que actua como placeholder*/
    display: none;
}

/* El labe hace de placehoder */
.container label{
    position: absolute;
    left: 0.25rem;
    opacity: 0.5;
}

/* input{
    background-color: blue ;
} */

/* Mientras este activo el placeholder se aplican ciertos estilos al input */
/* Se podría decir que estamos detectando si un input tiene contenido, si no tiene contenido se aplica esto: */
/* input:placeholder-shown{
    background-color: yellow;
} */