/* shorthand background

    background: image(color) position / size repeat attachment origin clip;

    attachment origin clip: no son muy usados

*/
html, body{
    /* se cubre toda la pantalla */
    height: 100%;
    margin: 0;
}
body{
    /* el color va al final, para que aparesca detras de todos(el orden importa) */

    /* si coloco el size del primero, a los demás por default se le coloca auto(pantalla completa) por eso es mejor colocar el tamaño uno por uno */
    background: url(https://images.unsplash.com/photo-1638913974023-cef988e81629?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) 0 0 / 20% no-repeat, url(https://images.unsplash.com/photo-1644258676710-ffb99d7d7a1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center center / 20% no-repeat, url(https://images.unsplash.com/photo-1644340253042-34f3d6b77b2c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) right bottom / 20% no-repeat, yellow;
    /* podemos usar las propiedades directamente si se repite */

    background-size: 20%;
    background-repeat: no-repeat;


}