
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* quitamos la decoracion */

.menu{
    width: 50%;
    list-style: none; 
}
.menu__link{
    text-decoration: none;
    color: white;
}

/* layout basico */
.menu__item{
    background-color: rgb(54, 53, 53);
    padding: 1em;
    border-bottom:1px solid black;
}

.menu__item:hover{
    background-color: rgba(0, 0, 0, .5);
}

.menu__link{
    /* para que podamos dar clik a lo largo del a */
    display: block;
}

/* Agregamos flexbox: cuando llegue a cierto tamaño */

@media screen and (min-width:960px){    
    .menu{
        display: flex;
        width: 100%;
    }
    .menu__item{
        flex: 1;
    }
    .menu__link{
        text-align: center;
    }
}

