body{
    margin: 0;
}

.wrapper{
    max-width: 1200px;
    /* quitamos 2 rem porque a cada lado le añadimos un margen de 1 rem */
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

header, aside, main, footer{
    background-color: goldenrod;
    padding: 2rem;
}

/* FLEXBOX */
/* .grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
} */

/* .body{
    display: flex;
    gap: 1rem;
    /* para que cubra todo el espacio disponible, incluso en altura y haga que el footer este al final de la página
    flex-grow: 1;
} */

/* main{
    /* Cubre todo el espacio libre
    flex-grow: 1;
} */

/* aside{
    /* los aside siempre van a medir 250
    flex-basis: 250px;
} */

/* GRID */
/* .grid{
    display: grid;
    grid-template-columns: 250px auto 250px;
    /* El contenido minimo en header y footer, y auto el main y los asides, en vez de min content podemos colocar 5rem u otro valor
    grid-template-rows: min-content auto min-content;
    gap: 1rem;
    min-height: 100vh;
} */
/* header, footer{
    grid-column: 1/4;
} */


/* Limitamos el contenido */
.grid{
    display: grid;
    /* grid-template-columns: 250px auto 250px; */
    grid-template-rows: min-content auto min-content;
    gap: 1rem;
    min-height: 100vh;
}

.body{
    display: grid;
    /* grid-template-columns: 250px auto 250px; */
    gap: 1rem;
    /* Para que abarque solo el contenido que tiene */
    grid-template-rows: repeat(3, min-content);
}

main{
    grid-row-start: 1;
}

@media screen and (min-width: 1024px) {

    .body{
        grid-template-columns: 250px auto 250px;
        grid-template-rows: auto; /* para que cubra todo el alto*/
    }
    .wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    main{
        /* para que el main este en el medio de los aside */
        grid-column: 2;
    }
}