*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 0;
}

/* Usamos frist-mobile */
.wrapper{
    width: calc(100%-2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

section{
    padding-top: 2rem ;
}

/* GRID */

.grid{
    /* padding-top: 2rem; */
    padding-bottom: 1rem;
    background-color: #1A72B2;
    color: white;
}

.grid .wrapper{
    --columns: 1;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.img-banner{
    display: flex;
    justify-content: center;
}

.grid.section{
    background-color: #EBF6FD;
    color: #052C48;
}

.grid.section.right{
    /* Esta variable viene de la guía de estilo */
    background-color: var(--body-bg);
}

.grid.section .img-banner{
    grid-row-start: 1;
}

/* COLUMN */
.column-flex{
    text-align: center;
}

.column-flex .wrapper{
    /* --columns: 1;
    column-count: var(--columns); */
    display: flex;
    /* Si los elementos no caben, realicen un salto de línea */
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.column-flex article{
    max-width: 350px;
}


/* Tablet */
@media screen and (min-width: 680px) {
    .grid .wrapper{
        --columns:2;
    }

    .grid.section.right .img-banner{
        grid-column-start: 2;
    }
    /* .column .wrapper{
        --columns: 2;
    } */
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .wrapper{
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    /* .column .wrapper{
        --columns: 3;
    } */
}