/* Modo RGB
    Existen dos modos de color básico
        auditivo - la suma da blanco(añades)
            RGB(red, green, blue)-lo que usa CSS
        sustractivo - la suma da negro(quitas)
            CMYK(cyan, magenta, yellow, black)-como la impresora(no usado en CSS)

    RGB: tenemos 8 bits de color, significa que cada canal tiene 2^8=256 variaciones posibles, que comienza en 0 y termina en 255
    R(255) G(255) B(255) - que es aproximandamente 16.5 millones de colores

*/

body{
    background-color: rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    background-color: rgb(0, 0, 255);

    background-color: rgb(0, 255, 255); /*cyan*/
    background-color: rgb(255, 255, 0); /*yellow*/
    background-color: rgb(255, 0, 255); /*magenta*/
    background-color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255); /*cyan*/

    /* podemos aumentar el canal rojo, si queremos aumentar el rojo  */
    /* cuando todos los valores esten iguales, dan un color gris. si es cercana a cero es color negro */

    background-color: rgb(50, 50, 50);
    background-color: rgb(128, 200, 128);
}


/* RGBA: A de alpha o transparencia */
h1{
    color: rgba(255, 255, 255, 1); /*con 1 seve completamente el color*/
    color: rgba(255, 255, 255, .3);
    /* color: rgba(255, 255, 255, 0);no se ve */

}