*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    border-collapse: collapse; /* para que no se generen espacios entre las celdas */
    margin: 30px auto;
}
section{
    width: 250px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25em;
}
th{
    font-weight: 800;
}
td, th{ 
    border: 1px solid gray; /* borde de 1px solido(linea recta) */
    padding: 5px 20px; /* espacio interior (para que las letras no estan pegadas al cuadro de la tabla) */
    font-size: 1.5em;
    text-align: center;
}

.cabecera{
    font-size: 2.25em;
    background-color: gray;
}
/* Colores */
.prog{
    background-color: green;
}
.lm{
    background-color: skyblue;
}
.si{
    background-color: red;
}
.db{
    background-color: coral;
}
.ed{
    background-color: yellow;
}
.fol{
    background-color: mediumpurple;
}