/* tipografia: disciplina que estudia el diseño y uso de tipos de letra 

    fuente: un tipo especifico de letra, creado por un diseñador o empresa

    glifos: dibujos que representan a cada letra o caracter de la fuente

    Estilos de fuente; son las variaciones de una misma fuente(grosor, inclinación).

    familia tipografica: son varias fuentes con caracteristicas comunes.

    pairings: es con que otras fuentes se pueden combinar


    serif: aquellas fuentes con adornos en las letras o serifa.
    sans serif: no lleva adorno, también llamado palo seco

*/