*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #c3c3c3;
    padding: 10px 10%;
}
header h1{
    text-align: center;
    font-size: 4em;
}
section h2{
    background-color: gray;
    font-size: 2em;
    color: white;
    margin: 20px 0;
}
section div{
    display: flex;
}
section div img{
    margin-right: 10px;
}
section div p{
    text-align: justify; /* alineación justificada*/
    text-indent: 30px; /* sangria */
}
.text-red{
    color: red;
}
.blod{
    background-color: white;
    font-weight: 700;
}